/*! CSS Used from: https://www.w3schools.com/w3css/4/w3.css */
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
article,
footer,
section {
    display: block;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
    outline-width: 0;
}
small {
    font-size: 80%;
}
img {
    border-style: none;
}
button,
input,
textarea {
    font: inherit;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button {
    text-transform: none;
}
button,
html [type=button],
[type=submit] {
    -webkit-appearance: button;
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
textarea {
    overflow: auto;
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
h1 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px;
}
h1,
h3,
h4 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}
img {
    margin-bottom: -5px;
}
a {
    color: inherit;
}
:disabled * {
    pointer-events: none;
}
/*! CSS Used from: file:///D:/Vietnamstreetwear/css/csstheme/autoptimize_6fb51df40d540b8618c8a78c74b1d849.css */

.lwa {
    margin-bottom: 10px;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
article,
footer,
section {
    display: block;
}
body {
    margin: 0;
}
a {
    background: transparent;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
small {
    font-size: 80%;
}
img {
    border: 0;
}
button,
input,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button,
input {
    line-height: normal;
}
button {
    text-transform: none;
}
button,
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
@media print {
    * {
        text-shadow: none!important;
        color: #000!important;
        background: transparent!important;
        box-shadow: none!important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    a[href^="#"]:after {
        content: "";
    }
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100%!important;
    }
    p,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h3 {
        page-break-after: avoid;
    }
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}
input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color: #428bca;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #2a6496;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
img {
    vertical-align: middle;
}
p {
    margin: 0 0 10px;
}
small {
    font-size: 85%;
}
h1,
h3,
h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h3 small {
    font-weight: normal;
    line-height: 1;
    color: #999;
}
h1,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h3 small {
    font-size: 65%;
}
h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
ul {
    margin-top: 0;
    margin-bottom: 10px;
}
ul ul {
    margin-bottom: 0;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}
blockquote p {
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25;
}
blockquote p:last-child {
    margin-bottom: 0;
}
blockquote:before,
blockquote:after {
    content: "";
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container:before,
.container:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}
.container:before,
.container:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.col-md-4,
.col-xs-6,
.col-md-6,
.col-md-8,
.col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-6 {
    float: left;
}
.col-xs-6 {
    width: 50%;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
article,
footer,
section {
    display: block;
}
body {
    margin: 0;
}
a {
    background: transparent;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
small {
    font-size: 80%;
}
img {
    border: 0;
}
button,
input,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button,
input {
    line-height: normal;
}
button {
    text-transform: none;
}
button,
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
@media print {
    * {
        text-shadow: none!important;
        color: #000!important;
        background: transparent!important;
        box-shadow: none!important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    a[href^="#"]:after {
        content: "";
    }
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100%!important;
    }
    p,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h3 {
        page-break-after: avoid;
    }
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
    background-color: #fff;
}
input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color: #428bca;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #2a6496;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
img {
    vertical-align: middle;
}
p {
    margin: 0 0 10px;
}
small {
    font-size: 85%;
}
h1,
h3,
h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h3 small {
    font-weight: normal;
    line-height: 1;
    color: #999;
}
h1,
h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h3 small {
    font-size: 65%;
}
h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}
ul {
    margin-top: 0;
    margin-bottom: 10px;
}
ul ul {
    margin-bottom: 0;
}
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}
blockquote p {
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25;
}
blockquote p:last-child {
    margin-bottom: 0;
}
blockquote:before,
blockquote:after {
    content: "";
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container:before,
.container:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}
.container:before,
.container:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
.col-md-4,
.col-xs-6,
.col-md-6,
.col-md-8,
.col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-6 {
    float: left;
}
.col-xs-6 {
    width: 50%;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .col-md-4,
    .col-md-6,
    .col-md-8 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-8 {
        width: 66.66666666666666%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-4 {
        width: 33.33333333333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
[class^="tm-"]:before,
[class*=" tm-"]:before {
    font-family: "pointed"!important;
    font-style: normal!important;
    font-weight: normal!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: .75em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.tm-share:before {
    content: "\e000";
}
.tm-mail:before {
    content: "\e006";
}
.tm-comment:before {
    content: "\e008";
}
.tm-menu:before {
    content: "\e00b";
}
.tm-search:before {
    content: "\e014";
}
.tm-google-plus:before {
    content: "\e015";
}
.tm-stumbleupon:before {
    content: "\e017";
}
.tm-tumblr:before {
    content: "\e01a";
}
.tm-instagram:before {
    content: "\e01b";
}
.tm-twitter:before {
    content: "\e01e";
}
.tm-pinterest:before {
    content: "\e027";
}
.tm-user:before {
    content: "\e029";
}
.tm-linkedin:before {
    content: "\e02b";
}
.rsArrow {
    cursor: pointer;
}
.rsOverflow,
.rsSlide {
    overflow: hidden;
}
.rsContainer,
.rsOverflow {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
}
.rsOverflow {
    position: relative;
    float: left;
}
.rsContainer {
    position: relative;
}
.rsArrow,
.rsNav {
    opacity: 1;
    -webkit-transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
    transition: opacity .3s linear;
}
.rsHidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s linear .3s, opacity .3s linear;
    -moz-transition: visibility 0s linear .3s, opacity .3s linear;
    -o-transition: visibility 0s linear .3s, opacity .3s linear;
    transition: visibility 0s linear .3s, opacity .3s linear;
}
.rsSlide {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
}
.rsAutoHeight .rsSlide {
    height: auto;
}
.rsNav {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}
.rsNavItem {
    -webkit-tap-highlight-color: rgba(0, 0, 0, .25);
}
.grab-cursor {
    cursor: url('') 8 8, move;
}
.mfp-hide {
    display: none!important;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
@media screen and (max-width: 800px) and (orientation: landscape),
body {
    min-height:700px;
    font-family:'PT Sans',
    sans-serif;
    font-size:15px;
    line-height:1.6em;
    -webkit-font-smoothing:antialiased;
    color:#595858;
    background-color:#fff;
}
.mh-data-retina {
    display: none!important;
}
h1,
h3,
h4 {
    font-family: UTM Bebas;
    color: #101010;
    margin-top: 1.1em;
    margin-bottom: 1em;
    letter-spacing: .5px;
    font-weight: normal;
}
h1 {
    font-size: 34px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 22px;
}
h1,
h3,
h4,
h3 a,
h4 a,
h1 span {
    line-height: 1.4em;
}
p,
ul,
.dropcap {
    margin-bottom: 1.6em;
}
a,
a:hover,
a:focus {
    color: #101010;
}
a:hover {
    text-decoration: none;
}
button,
a:focus {
    outline: 0;
}
button {
    border: 0;
}
img {
    height: auto;
}
img {
    max-width: 100%;
}
blockquote {
    border: 0;
    font-family: UTM Bebas;
    font-size: 1.4em;
    color: #101010;
    letter-spacing: .1px;
    text-align: center;
}
blockquote p {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.48em;
}
input {
    outline: 0;
}
.mh-item-title {
    letter-spacing: .5px;
}
.container {
    margin-right: auto;
    margin-left: auto;
}
.mh-col-12 {
    width: 100%;
    padding: 0 15px;
}
.postpage .mh-content-post ul:not([class]) {
    margin-bottom: 1.6em;
    padding-left: 40px;
}
ul {
    margin: 0;
    padding: 0;
}
#mh-mobile-bar {
    display: none;
}
#mh-mobile-bar {
    position: relative;
    background-color: #1b1b1b;
    padding: 12px 20px;
    z-index: 3;
}
#mh-mobile-bar>div {
    display: inline-block;
}
#mh-mobile-bar .mh-menu-open,
#mh-mobile-bar .mh-search-mobile .mh-search {
    color: #fff;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#mh-mobile-bar .mh-menu-open {
    left: 0;
    z-index: 9;
}
#mh-mobile-bar .mh-menu-open a {
    display: block;
    padding: 14px 12px;
    color: #fff;
    font-size: 21px;
    text-decoration: none;
    line-height: 1em;
    text-align: center;
}
#mh-mobile-bar .mh-menu-open a {
    font-size: 26px;
    margin-top: 8px;
}
#mh-mobile-bar .mh-mobile-logo {
    display: block;
    text-align: center;
}
#mh-mobile-bar .mh-mobile-logo .mh-logo-mobile {
    position: relative;
    z-index: 9;
    display: inline-block;
}
#mh-mobile-bar .mh-search-mobile {
    float: right;
}
#mh-mobile-bar .mh-search-mobile .mh-search {
    right: 0;
    width: 100%;
    text-align: right;
}
#mh-mobile-bar .mh-search-mobile .mh-search .tmf {
    cursor: pointer;
}
#mh-mobile-bar .mh-search-mobile .mh-search .tm-search {
    font-size: 16px;
    padding: 14px 20px;
    display: inline-block;
    width: 52px;
    height: 48px;
}
#mh-mobile-bar .mh-form-search {
    display: none;
    opacity: 0;
    position: absolute;
    width: 100%;
}
#mh-mobile-bar .mh-form-search .mh-search-field {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 55px;
}
#mh-mobile-bar .mh-search-mobile .mh-search .mh-form-search form .button-search {
    right: 0;
    top: 0;
    padding: 15px 20px;
    width: 55px;
    height: 100%;
}
#mh-mobile-bar .mh-search .mh-form-search form:after {
    content: "\e014";
    font-family: 'pointed';
    font-size: 16px;
    color: #424242;
    position: absolute;
    right: 0;
    padding: 15px 20px;
    opacity: .3;
    z-index: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#mh-mobile-bar .mh-search-mobile .mh-search .mh-form-search:before {
    content: "";
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #fff;
    top: -7px;
    right: 22px;
}
#mh-mobile-bar .mh-login-ajax {
    margin: 0;
    z-index: 9;
}
#mh-mobile-bar .mh-login-ajax a {
    font-size: 16px;
    padding: 15px 20px;
    line-height: 1.3em;
    color: #fff;
    margin-right: -15px;
}
#mh-mobile-bar .mh-login-ajax a i {
    position: absolute;
    margin-left: -7px;
}
.mh-login-ajax {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    line-height: normal;
    display: inline-block;
}
.lwa {
    margin: 0!important;
}
meta+.mh-content-wrapper>.container:not(.sidebar-none):before {
    content: "";
    border-top: 2px solid #eee;
    width: 97.5%;
    margin: 0 auto;
    padding-top: 25px;
}
.mh-mods {
    padding-bottom: 20px;
}
.mh-sidebar .mh-mods {
    padding-bottom: 0;
}
.title-container {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.mh-item-category a {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    letter-spacing: .6px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    height: 28px;
    padding: 8px 8px;
    line-height: 11px;
    background: #eee;
    color: #737373;
}
.mh-item-category a:before,
.mh-item-category a:after {
    display: block;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 0;
    letter-spacing: 0;
}
.mh-item-category a:before {
    left: -5px;
    border-bottom: 28px solid #eee;
    border-left: 5px solid transparent;
}
.mh-item-category a:after {
    right: -5px;
    border-top: 28px solid #eee;
    border-right: 5px solid transparent;
}
.mh-cover .mh-item-category a {
    margin-bottom: 6px;
    display: inline-block;
}
.mh-item-meta {
    font-family: UTM Bebas;
    font-size: 14px;
    letter-spacing: .2px;
    position: relative;
    line-height: normal;
    color: #8d8d8d;
}
.mh-item-meta a {
    color: #8d8d8d;
}
.mh-item-meta span+span:not(.mh-info-comments) {
    margin-left: 20px;
}
.mh-item-meta span+span:not(.mh-info-comments):before {
    content: "\e02d";
    font-family: 'pointed';
    position: absolute;
    margin-left: -18px;
    font-size: 1.3em;
}
.mh-item-thumb {
    position: relative;
    margin-bottom: 1.1em;
    text-align: center;
}
.mh-item-thumb a.mh-item-image-link {
    display: block;
    position: relative;
}
.mh-item-thumb a.mh-item-image-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}
.mh-item-thumb a.mh-item-image-link:hover:before {
    opacity: .3;
}
.score_mod {
    position: absolute;
    right: 20px;
    background: #f4b304;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    display: table;
    text-align: center;
    padding: 21px 5px 8px 0;
    width: 50px;
    opacity: .95;
    z-index: 1;
}
.score_mod.stars:after {
    content: '\e001';
    font-family: 'pointed';
    font-size: .7em;
    margin-top: 1px;
    margin-left: 1px;
    position: absolute;
    line-height: 1em;
}
.mh-mod-content .mh-item-meta {
    margin-bottom: 16px;
}
.mh-item-meta span.mh-info-comments>span {
    background: rgba(16, 16, 16, 0.4);
    color: #fff;
    padding: 1px 5px;
    position: relative;
    font-size: 10px;
    min-width: 18px;
    height: 15px;
    position: absolute;
    text-align: center;
    margin-top: -1px;
}
.mh-item-meta span.mh-info-comments>span:after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 34%;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 7px 0 0;
    border-color: rgba(16, 16, 16, 0.4) transparent transparent transparent;
}
.rsNav.rsBullets {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.rsBullets .rsNavItem {
    display: inline-block;
    padding: 14px 6px 0;
}
.rsBullets .rsNavItem span {
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #000;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1 linear;
}
.rsBullets .rsNavItem.rsNavSelected span {
    background-color: #f4b304;
}
.rsBullets .rsNavItem:hover span {
    cursor: pointer;
}
.rsArrow {
    z-index: 11;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.rsArrow .rsArrowIcn {
    font-family: "pointed";
    color: #fff;
    font-size: 20px;
    width: 44px;
    height: 44px;
    text-align: center;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0);
    border-radius: 100px;
    -webkit-transition: background .3s linear;
    -moz-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}
.rsArrow .rsArrowIcn:hover {
    background: rgba(255, 255, 255, .2);
}
.rsArrowLeft .rsArrowIcn:after {
    content: '\e005';
}
.rsArrowRight .rsArrowIcn:after {
    content: '\e004';
}
.mh-mod-content .mh-col-12>* {
    padding-bottom: 35px;
}
.mh-module-content {
    height: auto;
    -webkit-transition: height .3s ease;
    -moz-transition: height .3s ease;
    -o-transition: height .3s ease;
    transition: height .3s ease;
}
.mh-item-medium .mh-item-title {
    margin: 0 0 .4em 0;
    font-size: 22px;
}
.mh-item-medium .mh-thumb-bg {
    height: 210px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mh-m-one .mh-item-medium {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 30px;
}
.mh-m-one .mh-wrap-data {
    position: absolute;
    text-align: center;
    width: 96%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.mh-m-one .mh-item-thumb {
    background: #000;
    margin-bottom: 0;
}
.mh-m-one .mh-thumb-bg {
    opacity: .7;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
.mh-m-one .mh-item-thumb:hover .mh-thumb-bg {
    opacity: .4;
}
.mh-m-one .mh-item-title {
    text-shadow: 1px 3px 3px rgba(0, 0, 0, .2);
    margin-bottom: .6em;
}
.mh-m-one .mh-item-meta {
    margin-bottom: 0;
}
.mh-m-one h4,
.mh-m-one .mh-item-meta {
    color: #fff;
}
.mh-m-one .mh-item-thumb:hover .mh-item-image-link {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.widget {
    position: relative;
    margin-bottom: 25px;
}
.widget+.widget {
    padding-top: 10px;
}
.mh-nav-social ul li {
    display: inline-block;
}
.widget:last-child {
    padding-bottom: 20px;
}
.widget .mh-col-12 {
    padding: 0;
}
.widget .mh-module .mh-col-12:last-child>* {
    padding-bottom: 0;
}
.widget .title-container {
    text-align: left;
}
.widget .title {
    font-size: 20px;
    font-family: UTM Bebas;
    margin: 0 0 30px 0;
    position: relative;
    display: inline-block;
    padding: 0 20px 0 0;
}
.widget .title:after {
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    width: 1140px;
    background: #eee;
    color: #9c9c9c;
    left: 100%;
}
.mh_social_counter .mh-wsc-c {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: .3px;
}
.mh_social_counter {
    margin-bottom: -12px;
    text-align: center;
}
.mh_social_counter>div {
    width: 30.333%;
    display: inline-block;
    background: #eee;
    position: relative;
    padding: 28px 0 18px 0;
    margin: 10px .5% 20px .5%;
}
.mh_social_counter .mh-wsc-i {
    position: absolute;
    font-size: 2.1em;
    top: -10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.mh_social_counter .mh-wsc-c {
    font-size: 1.1em;
    margin-bottom: 3px;
}
.mh_social_counter .mh-wsc-l {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: .7em;
    line-height: normal;
    opacity: .5;
}
.mh_ad_spot {
    padding-bottom: 10px;
}
.widget .mh-item-medium .mh-item-title {
    font-size: 1.1em;
}
.widget-slider {
    position: relative;
}
.widget-slider .mh-mod-content {
    width: 100%;
}
.widget-slider .mh-col-12:last-child>* {
    margin-bottom: 0;
}
.widget-slider .rsBullets .rsNavItem {
    padding: 0 6px 0;
}
.widget-slider .mh-wrap-data {
    text-align: center;
}
.widget .mh-item-title {
    margin-bottom: .5em;
}
.widget .mh-item-meta {
    margin-bottom: .6em;
}
.widget-slider .rsArrowRight {
    right: 0;
}
.widget-slider.mh-m-one .mh-col-12:last-child>* {
    margin-bottom: 10px;
}
.widget-slider.mh-m-one .rsArrow {
    top: 43%;
}
.dropcap::first-letter {
    font-family: 'Georgia', serif;
    float: left;
    font-size: 5.3em;
    line-height: .8em;
    margin-right: 13px;
    text-transform: uppercase;
    margin-top: .05em;
    color: #1b1b1b;
}
.postpage .mh-title {
    text-transform: uppercase;
    margin: 14px 0;
    font-size: 38px;
}
.mh-cover .mh-info-comments {
    margin-left: 17px;
}
.cover-img {
    margin-bottom: 2em;
}
.cover_title {
    margin-bottom: 2.8em;
}
body:not(.single-post) .cover_title {
    margin-bottom: 2em;
}
body:not(.single-post) .mh-title {
    margin-top: 0;
}
.mh-tag-source {
    padding-top: 10px;
    margin-bottom: 40px;
}
.mh-tag-source .source {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #8d8d8d;
    float: right;
    text-align: right;
    line-height: 1.8em;
}
.mh-social-share.bottom {
    padding: 32px 20px;
    background: #eee;
    text-align: center;
}
.mh-social-share.bottom li a i:before {
    position: absolute;
    margin-left: -16px;
    margin-top: 2px;
}
.mh-social-share li {
    margin: 5px 4px;
    display: inline-block;
}
.mh-social-share a:not(.share-more) i+span {
    margin-left: 5px;
}
.mh-social-share li i {
    font-size: 13px;
}
.mh-social-share li a {
    height: 33px;
    padding: 11px 18px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    letter-spacing: .5px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 10px;
}
.mh-social-share li a {
    padding: 10px 18px 12px 30px;
}
.mh-social-share .share-fb {
    background: #2d5faa;
}
.mh-social-share .share-tw {
    background: #0da7d3;
}
.mh-social-share .share-gp {
    background: #dd5044;
}
.mh-social-share .share-pin {
    background: #a72020;
}
.mh-social-share .share-in {
    background: #007bb6;
}
.mh-social-share .share-su {
    background: #eb4924;
}
.mh-social-share .share-tmblr {
    background: #34465d;
}
.mh-social-share .share-mail {
    background: #505050;
}
.mh-social-share .share-cm {
    background: #505050;
}
.mh-social-share .share-mooore {
    background: #000;
    padding-right: 9px;
}
.popup-share {
    font-size: .9em;
    letter-spacing: 5px;
    display: block;
}
.popup-title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.3em;
    margin: 20px 0 35px;
    display: block;
    color: #000;
}
.mh-next-prev {
    position: relative;
    margin: 40px 0;
    text-transform: uppercase;
    letter-spacing: .5px;
}
.mh-next-prev:after {
    content: '\e028 \e028 \e028';
    font-family: 'pointed', sans-serif;
    font-size: .8em;
    opacity: .3;
    position: absolute;
    left: 50%;
    top: 50%;
    letter-spacing: 9px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.mh-next-prev div {
    display: inline-block;
    width: 49.5%;
    padding: 0 35px;
    vertical-align: middle;
}
.mh-next-prev div span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: #8d8d8d;
    font-size: .75em;
    margin-bottom: 5px;
}
.mh-next-prev div a {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
}
.mh-next-prev .next-post {
    text-align: right;
}
.mh-next-prev .prev-post:before,
.mh-next-prev .next-post:before {
    font-family: 'pointed', sans-serif;
    font-size: 1.1em;
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mh-next-prev .prev-post:before {
    content: '\e005';
    left: 0;
}
.mh-next-prev .next-post:before {
    content: '\e004';
    right: 0;
}
.mh-the-author {
    padding: 40px 35px;
    background: #eee;
}
.author-thumb {
    float: right;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: .6em;
}
.author-name {
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 23px;
    display: inline-block;
}
.author-social {
    display: inline-block;
    margin-top: 23px;
    margin-left: -6px;
}
.mh-nav-social a {
    padding: 0 11px;
    display: block;
}
.mh-related {
    margin: 55px 0 40px;
}
.mh-related .title {
    margin: 0 0 25px 0;
    font-size: 1.2em;
}
.mh-related-content {
    margin: 0 -15px;
}
.mh-related-content .mh-thumb-bg {
    height: 163px;
}
.mh-related-content .mh-item-title {
    font-size: 1.1em;
    text-align: center;
}
input[type="submit"],
input[type="text"],
input[type="url"],
input[type="email"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 12px 19px;
}
input[type="submit"],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 12px;
    line-height: normal;
    padding: 12px 25px;
    background: #000;
    color: #fff;
}
.required {
    color: #bb0c32;
    font-size: 1.6em;
    font-weight: normal;
}
input[type="submit"].button-search {
    color: transparent;
    background: transparent;
    padding: 12px 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    height: 100%;
}
.mh-comments {
    position: relative;
}
.mh-comments .title {
    border-top: 2px solid #eee;
    padding-top: 50px;
    margin: 0;
    font-size: 1.2em;
}
#reply-title small a {
    position: absolute;
    right: 0;
    top: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 6px 13px;
    border: 1px solid #eee;
    line-height: normal;
}
#reply-title small {
    color: #000;
}
.mh-comment-form {
    padding-top: 10px;
}
.mh-comment-form .title {
    margin-bottom: 10px;
}
.comment-respond {
    position: relative;
}
.comment-form {
    padding: 13px 0 15px;
}
#reply-title {
    color: transparent;
    margin: 0;
    position: absolute;
    right: 0;
}
#reply-title small a {
    right: 0;
}
.title-container+.comment-respond .comment-notes {
    text-align: center;
}
.comment-form-author {
    margin-right: 3%;
}
.comment-form-author,
.comment-form-email {
    width: 48%;
    display: inline-block;
}
.comment-respond label {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.mh-content-wrap input[type="text"],
.mh-content-wrap input[type="url"],
.mh-content-wrap input[type="email"],
.mh-content-wrap textarea {
    width: 100%;
    background: #eee;
}
.form-submit {
    text-align: center;
    padding-top: 10px;
}
#footer a {
    color: #fff;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.the-footer {
    background: #1b1b1b;
    color: #8d8d8d;
}
#fabout {
    text-align: center;
    position: relative;
    padding: 40px 0 60px;
}
#fabout:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 48%;
    height: 1px;
    background: #fff;
    opacity: .1;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.fabout-content {
    padding: 0 7%;
}
.fabout-content:first-child {
    margin-top: 3px;
}
.fsocial a {
    color: #fff;
    font-size: 1.2em;
    opacity: .4;
}
#fcopyright {
    padding: 15px 0;
    font-size: .9em;
    background: #121212;
    color: #8d8d8d;
}
@media (min-width: 0) and (max-width: 767px) {
    .wsdbr,
    .wcntnt {
        width: 100%;
    }
    .wsdbr .mh-sidebar {
        padding: 0!important;
    }
    .wsdbr .mh-sidebar:before {
        display: none;
    }
    #mh-mobile-bar {
        display: block;
    }
    .mh-login-ajax>a {
        display: none!important;
    }
    .mh-login-ajax>a.mobile {
        display: block!important;
    }
    .mh-item-medium .mh-thumb-bg {
        width: 100%;
        height: 194px;
    }
    .mh-item-medium .mh-item-title {
        line-height: 1.2em;
    }
    .mh-item-medium .mh-item-title a {
        font-size: .85em;
    }
    .mh-item-meta {
        opacity: .6;
    }
    .mh-mod-content .mh-info-views {
        display: none!important;
    }
    .score_mod {
        right: 10px;
        font-size: .9em;
        width: 43px;
        padding: 15px 3px 8px 0;
    }
    .rsBullets .rsNavItem {
        padding-top: 8px;
    }
    .widget .title {
        padding-right: 15px;
        margin-bottom: 25px;
    }
    .mh_social_counter .mh-wsc-c {
        font-size: 15px;
    }
    .widget .mh-item-medium .mh-item-title {
        font-size: 1.2em;
        margin-bottom: .7em;
    }
    .widget .rsArrow {
        display: none!important;
    }
    .mh_social_counter>div {
        width: 32.333%;
    }
    .postpage .mh-title {
        font-size: 28px;
    }
    blockquote {
        font-size: 1.2em;
    }
    .dropcap::first-letter {
        font-size: 3.5em;
        margin-right: 14px;
    }
    .mh-the-author {
        padding: 2.3em 2em;
    }
    .mh-next-prev div {
        padding: 0;
    }
    .mh-next-prev:after {
        content: '\e028';
    }
    .mh-next-prev .next-post:before,
    .mh-next-prev .prev-post:before {
        display: none;
    }
    .mh-related-content {
        margin: 0 -10px;
    }
    .mh-related-content .mh-item-title {
        font-size: 1.2em;
    }
    .mh-related-content .mh-item-thumb {
        margin-bottom: .8em;
    }
    .author-thumb {
        width: 86px;
        margin: -.5em 0 .5em 1em;
    }
    .for-widgets>div {
        width: 100%;
    }
    .fabout-content {
        padding: 0 2%;
    }
    #fcopyright .fel {
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
    .fabout-content+.fsocial {
        margin-top: 3em;
    }
    #fabout {
        padding-bottom: 50px;
    }
    .popup-title {
        font-size: 1.5em;
    }
    .mh-social-share li a {
        height: 29px;
        padding: 9px 12px;
    }
}
@media only screen and (max-width: 479px) {
    .mh-mod-content .mh-col-12>* {
        padding-bottom: 1em;
    }
    .mh-mod-content .mh-item-meta {
        margin-bottom: 8px;
    }
    .mh-item-medium .mh-item-title {
        line-height: .6em;
        margin-bottom: .4em;
    }
    .author-thumb {
        width: 76px;
    }
    .mh-next-prev:after {
        display: none;
    }
    .mh-next-prev div {
        width: 100%;
        text-align: center!important;
    }
    .mh-next-prev div+div {
        margin-top: 1.3em;
    }
    .mh-the-author {
        padding: 2em 18px;
        margin-left: -15px;
        margin-right: -15px;
    }
    .mh-tag-source .source {
        float: none;
        text-align: left;
    }
    .comment-form-author,
    .comment-form-email {
        width: 100%;
    }
    .postpage .mh-title {
        font-size: 20px;
    }
    .mh-cover .mh-item-meta span:nth-child(2n+1):before {
        content: ''!important;
    }
    .mh-cover .mh-item-meta span:nth-child(2n+1) {
        margin-left: 0!important;
    }
    .mh-cover .mh-item-meta span:nth-child(2n+2):after {
        content: ''!important;
        display: block;
        position: relative!important;
        margin-top: 7px;
    }
    .mh-cover .mh-info-comments {
        display: inline-block;
        margin-right: 13px;
    }
    .mh-cover span.mh-info-comments>span {
        margin-top: -4px;
    }
    .mh-social-share.bottom {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width: 480px) and (max-width: 639px) {
    .mh-col-12 {
        padding: 0 10px;
    }
    .mh-content-wrap,
    .cover_title {
        padding-left: 5px;
        padding-right: 5px;
    }
    .wsdbr {
        padding-left: 15px;
        padding-right: 15px;
    }
    .for-widgets,
    .mh-mod-content {
        padding-left: 5px;
        padding-right: 5px;
    }
    .widget .mh-mod-content {
        padding-left: 0;
        padding-right: 0;
    }
    .mh-mod-content .mh-col-12>* {
        padding-bottom: 1em;
    }
    .mh-item-medium .mh-item-title {
        line-height: .6em;
        margin-bottom: .4em;
    }
    .mh-mod-content .mh-item-meta {
        margin-bottom: 8px;
    }
    .postpage .mh-title {
        font-size: 24px;
    }
}
@media (min-width: 640px) and (max-width: 767px) {
    .mh-mod-content .mh-col-12>* {
        padding-bottom: 1.5em;
    }
    .mh-item-medium .mh-item-title {
        line-height: .6em;
        margin-bottom: .4em;
    }
    .mh_social_counter .mh-wsc-c {
        font-size: 16px;
    }
    .postpage .mh-title {
        font-size: 26px;
    }
}
@media (max-width: 1019px) and (min-width: 768px) {
    .mh-mod-content .mh-info-views {
        display: none!important;
    }
    .mh-item-medium .mh-item-title {
        line-height: 1.2em;
    }
    .mh-item-medium .mh-item-title a {
        font-size: .85em;
    }
    .rsOverflow {
        width: 100%!important;
    }
    .mh-item-medium .mh-thumb-bg {
        height: 130px;
    }
    .mh_social_counter>div {
        width: 99%;
    }
    blockquote {
        font-size: 1.2em;
    }
    .dropcap::first-letter {
        font-size: 3.5em;
        margin-right: 14px;
    }
    .author-thumb {
        width: 86px;
        margin: -.5em 0 .5em 1em;
    }
    .mh-next-prev div {
        padding: 0;
    }
    .mh-next-prev:after {
        content: '\e028';
    }
    .mh-next-prev .next-post:before,
    .mh-next-prev .prev-post:before {
        display: none;
    }
    .mh-related-content {
        margin: 0 -10px;
    }
    .postpage .mh-title {
        font-size: 28px;
    }
    .fabout-content {
        padding: 0 2%;
    }
    #fcopyright .fel {
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
}
@media (max-width: 1199px) and (min-width: 1020px) {
    .mh-mod-content .mh-info-views {
        display: none!important;
    }
    .mh-item-medium .mh-thumb-bg {
        height: 164px;
    }
    .mh_social_counter>div {
        width: 48%;
        margin: 10px 1% 20px 1%;
    }
    .mh_social_counter>div:nth-child(3):last-child {
        width: 99%;
    }
    .author-thumb {
        margin-bottom: .5em;
        width: 96px;
    }
    .postpage .mh-title {
        font-size: 34px;
    }
}
blockquote {
    text-transform: inherit;
}
.mh-share-items i {
    padding-bottom: 10px;
}
